CLICKHOUSE_URL="https://clickhouse:CHANGE_ME@clickhouse-production-e204.up.railway.app/?database=railway"
CLICKHOUSE_HOST="clickhouse-production-e204.up.railway.app"
CLICKHOUSE_PORT="443"
CLICKHOUSE_PROTOCOL="https"
CLICKHOUSE_USER="clickhouse"
CLICKHOUSE_PASSWORD="CHANGE_ME"
CLICKHOUSE_DATABASE="railway"
